{{template "base" .}}

{{define "title"}} RPS Web - About {{end}}
{{define "content"}} 
<section class="about-sec">
    <div class="row">
        <section>
            <h1 class="text-center h1">Oscar Andres Rodriguez Fernandez</h1>
            <img src="static/img/about.jpg" 
            alt="OARF" 
            class="img-thumbnail about_pic rounded mx-auto d-block"
            width="200px">
        </section>
    </div>
    <div class="container">
        <div class="row m-3">
            <p class="font-monospace">
                I am a bilingual telecommunications engineer with a strong passion for development and automation.<br>
                I have experience in managing Hyper-V and VMWare virtualization platforms, as well as deploying and administering applications on public clouds like Azure and AWS.<br>
                I have also worked with backup tools such as VEEAM and ZERTO, and have a solid understanding of operating systems and Active Directory.<br>
                I am passionate about development and automation, and have worked on projects involving Python, scripting, and automation with Powershell. <br>
                I also have experience with IaC using terraform and in managing agile technologies like GIT and Azure DevOps.<br>
                I am always eager to learn more and tackle new challenges in the field of development and technology, so I am ready to work on any project that allows me to continue growing professionally.
            </p>
        </div>
        <div class="row justify-content-center text-center m-3">
            <h3>Let's connect!</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="https://www.facebook.com/Andres.kenji" target="_blank" class="fa fa-facebook "></a></li>
                <li class="list-group-item"><a href="https://twitter.com/Kenji_Andres" target="_blank" class="fa fa-twitter"></a></li>
                <li class="list-group-item"><a href="https://www.linkedin.com/in/oarf/" target="_blank" class="fa fa-linkedin"></a></li>
                <li class="list-group-item"><a href="https://github.com/AndresKenji" target="_blank" class="fa fa-github"></a></li>
            </ul>
        </div>
    </div>
</section>
{{end}}